.hide {
  display: none;
}

.hooverable:hover + .hide {
  display: block;
  color: red;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #000000;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.betamount {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  color: blue;
  background-color: #fff;
  border: 1px solid #ccc;

}

.noPaddingBottom {
  padding-bottom: 0px !important;
}

.noPaddingTop {
  padding-top: 0px !important;
}

.relative {
  position: relative;
}

.relative-top {
  position: relative;
  top: -20px;
}

.selectedAmount {
  background-color: #20FF20 !important;
}

.rotate {
  transform: rotate(-90deg);
  text-align: center;

}

.row-span-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}